<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525815270500-e675h0j4bkvubtieq7cbl737sfs3jfh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525815270500-e675h0j4bkvubtieq7cbl737sfs3jfh0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>525815270500-18896iplfi2i2drifpagjjs2eg2280mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU6-aEoRJg0NQQwkS2w9AP_6-VY_cMK48</string>
	<key>GCM_SENDER_ID</key>
	<string>525815270500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tailor.TailorOrder-Receive</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-478f8</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-478f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525815270500:ios:bd9c713a6e304aba48a371</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-478f8.firebaseio.com</string>
</dict>
</plist>